Zaimportuj biblioteki

In [ ]:
import pandas as pd

Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-macosx_10_13_x86_64.whl.metadata (89 kB)
Requirement already satisfied: numpy>=1.26.0 in /Users/marcinsierakowski/Documents/repos/pwgdansk/.venv/lib/python3.13/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/marcinsierakowski/Documents/repos/pwgdansk/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/marcinsierakowski/Documents/repos/pwgdansk/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-macosx_10_13_x86_64.whl (12.5 MB)
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:

df = pd.read_csv("Friendly Competition.csv", header=0)

Dodaj plik "Friendly Competition"

In [13]:
df.columns=['Team Name', 'Activity', 'Players', 'Age', 'isForKids', 'TeamID']

Dodaj nagłówki. Kolejno: Team Name, Activity, Players, Age, isForKids, TeamID

In [15]:
display(df)

,Team Name,Activity,Players,Age,isForKids,TeamID
0,_Dancing Donuts,Eating contest,3-5 people,8-12 years,Yes,54.0
1,.Wacky Wombats,zRacing,NaN,23-70 years,No,21.0
2,Silly Sausages..,Eating contest,3-5 people,8-12 years,NaN,87.0
3,Clumsy Ninjas-,Obstacle Course,1-2,10-99 years,Y,42.0
4,Laughing Llamas,Singing,4-6 people,6--600 years,YES,12.0
5,Silly Squids,Painting,5-9 people,8-99 years,Yes,4365.0
6,Bumbling Bumblebees,Dancing,3-8 people,6-53 years,yes,97.0
7,Dizzy Dinosaurs,Hunting,80 people,40-0 years,NaN,64.0
8,Quirky Quokkas,NaN,5-9 people,8-99 years,YES,32.0
9,Goofy Goblins/,Hunting,80 people,40-87 years,n,NaN
10,"Jolly Jellybeans,,,",Eating contest,3-5 people,8-12 years,Y,76.0
11,Flaming Marshmallows,Singing,4-6 people,6-60 years,Y,43.0
12,Nutty Narwhals,Eating contest,NaN,8-12 years,Yes,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN
14,Zany Zebras,Painting,5-9 people,NaN,NaN,12.0
15,Crazy Coconuts,Racing,5-7 people,23-70 years,N,87.0
16,", ,Wobbling Walruses",Dancing,3-8 people,6-53 years,y,8.0
17,Funky Flamingos,Dancing,3-8 people,6-50 years,yes,65.0
18,",Hilarious Hedgehogs",Hide and Seek,6-8 people,4-30 years,Y,453.0
19,Peculiar Penguins,NaN,3-8 people,6-60 years,NaN,NaN
20,Ridiculous Raccoons,Racing,NaN,23-70 years,NO,32.0
21,Silly Squids,Painting,5-9 people,8-99 years,Yes,4365.0

Zapoznaj się z ramką danych. Wygeneruj podsumowanie

Przyjrzyj się danym. Oceń, co trzeba wyczyścić. Wypisz poniżej.

Usuń niepotrzebne wiersze i kolumny

Poszukaj unikatowych wartości

Wyczyść dane

Znajdź brakujące dane używając metody isna()

Uzupełnij brakujące dane

Usuń duplikaty

Zamień ilość graczy na format int, który jest wartością średnią

Wydziel wiek graczy na najmniejszą i największą wartość

Oddziel te drużyny, które biorą udział w aktywnościach artystycznych

Utwórz 2 dodaktkowe dataframy. Jeden, który zawiera listę kolejnych drużyn, drugą, która zawiera kolejne parametry

Dołącz dataframy do reszty